/* Pending status */
.task-item span.pending {
  color: orange;
}

/* Completed Status*/
.task-item span.completed {
  color: green;
  text-decoration: line-through;
}

/* Priority colors */

/*low*/
.low {
  color: lightblue;
}

/*medium*/
.medium {
  color: purple;
}

/*high*/
.high {
  color: red;
}

/* Optional: Buttons styling */
button {
  margin-left: 5px;
}
